.noto-sans-jp-regular {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.noto-sans-jp-bold {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.noto-sans-regular {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.noto-sans-bold {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.lexend-regular {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.lexend-bold {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.toggle:checked {
    --tglbg: oklch(var(--a));
    border: 0;
}


.font_mobile {
    font-size: 0.75rem !important;
}

.table-xs :where(th, td) {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

@media (max-width: 640px) {
    .font_mobile {
        font-size: 0.6rem !important;
    }

    .table-xs :where(th, td) {
        padding-left: .3rem;
        padding-right: .3rem;
    }
}

.cell_custom {
    transition: background-color 0.5s;
}

.cell_custom:hover{
    background-color: oklch(var(--b3));
}